* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 0;
  min-height: 0;
}

window {
  background-color: transparent;
}

#waybar {
  background: #000000;
  border-radius: 0;
}

/* Left side modules */
#custom-update,
#workspaces {
  background-color: transparent;
  color: white;
  margin: 0;
  padding: 4px 12px;
}

#custom-update {
  margin-left: 0;
  border-radius: 0;
}

#workspaces {
  border-radius: 0;
}

#workspaces button {
  color: white;
  border: none;
  padding: 2px 4px;
  margin: 0 1px;
  background-color: transparent;
  border-radius: 0;
  min-width: 20px;
}

#workspaces button.active {
  color: white;
  border: 1px solid white;
  padding: 2px 4px;
  margin: 0 1px;
  min-width: 20px;
}

/* Center tray */
#tray {
  background-color: transparent;
  color: white;
  margin: 0;
  padding: 4px 12px;
}

/* Right side */
#clock {
  background-color: transparent;
  color: white;
  margin: 0;
  margin-right: 0;
  padding: 4px 12px;
  border-radius: 0;
}