/* @import "$HOME/.config/colors/colors.css" */
@import "../colors/colors.css";

* {
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font";
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 5px;
  min-height: 0;
}

window,
tooltip {
  background-color: @background;
}

#waybar {
  background: black;
  border-radius: 0;
  padding: 8px 0;
}

#workspaces {
  margin: 3px 0;
}

#workspaces button {
  color: @foreground;
  border: none;
  padding: 4px 8px;
}

#workspaces button.active {
  color: @pink;
  border: 2px solid @pink;
  padding: 4px 12px;
  margin: 0 2px;
}

#workspaces button.urgent {
  background-color: @red;
  padding: 4px 12px;
}

#custom-power,
#tray,
#bluetooth,
#network,
#battery,
#pulseaudio,
#clock {
  color: @foreground;
  margin: 3px 0;
  padding: 4px 12px;
}

#bluetooth {
  color: #89B4FA;
  font-size: 18px;
}

#network {
  color: @green;
  font-size: 18px;
}

#battery {
  color: rgb(202, 82, 226);
  font-size: 18px;
}

#pulseaudio {
  color: orange;
  font-size: 18px;
}

#clock {
  margin-right: 10px;
  color: white;
  font-size: 14px;
}

#custom-power {
  margin-left: 10px;
  padding: 4px 15px 4px 20px;
}